<template name="server_app">
	<div class="server_app">
    {{#if gameStarted}}
      <div class="server_question shadow-z-1">
        {{> currentQuestion}}
      </div>
      <div class="server_users">
        {{#each users}}
          {{> user}}
          <br>
        {{/each}}
      </div>
    {{else}}
      <h1>Gehe zu der Seite <strong>www.game.j4rvis.de</strong> um an dem Spiel teilzunehmen.</h1>
    {{/if}}
  </div>
</template>

<template name="user">
	<button class="btn {{#if answerIndex}}btn-warning{{else}}btn-default{{/if}} btn-raised btn-lg">{{name}}</button>
</template>

<template name="currentQuestion">
  {{#with question}}
	<h2>{{text}}</h2>
	<button id="answer1" class="btn btn-primary btn-raised" name="1">{{answer1}}</button>
	<button id="answer2" class="btn btn-primary btn-raised" name="2">{{answer2}}</button>
	<button id="answer3" class="btn btn-primary btn-raised" name="3">{{answer3}}</button>
	<button id="answer4" class="btn btn-primary btn-raised" name="4">{{answer4}}</button>
  {{/with}}
</template>