.wrongAnswer{
	background-color: rgb(255, 0, 0);
}
.rightAnswer{
	background-color: rgb(0, 255, 0);
}
.result {
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  font-size: 500%;
  color: white;
  text-align: center;
  padding-top: 30%;
}
.form-control {
  margin-bottom: 20px;
}
.shadow-z-1 {
  padding: 10px;
  margin-bottom: 20px
}
body {
  height: 100%;
  padding: 20px;
  /*background-color: white;*/
}
.box-field {
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  color: white;
}
.question_field {
  background-color: #009900;
  height: 25%;
}
.answer_field {
  height: 15%;
  margin-top:20px;
  background-color: #009999;
}
.server_app{
  width: 100%;
}
.server_question{
  width: 80%;
  background-color: #EFEFEF;
  float: left;
  height: 95vh;
}
.server_users{
  width: 15%;
  float: right;
  /*background-color: red;*/
}
.server_question button{
  padding:5px;
  width: 41%;
  float: left;
  height: 20vh;
  margin-left: 6%;
  font-size: 20px;
  white-space:normal;
}
.server_question h2{
  padding: 30px;
  height: 40vh;
  text-align: center;
  font-size: 40px;
  /*color: white;*/
  vertical-align: center;
}
